.cont {
    font-size: 30px;
    background-color: cadetblue;
    padding: 10px;
}

.itemList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5%;
    justify-items: center;
}