.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    background-color: #42B881;
}

.logo{
    height: 90px;
    width: 150px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.list a{
    text-decoration: none;
    margin: 10px;
}

.claseActiva{
    color: green;
}

.claseInactiva{
    color: red;
}