.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list li{
    margin: 10px;
}

.logo{
    height: 70px;
    width: 70px;
}